        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            font-weight: bold;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            height: 80px;
            font-weight: bold;
        }

        header img {
            height: 60px;
            margin-right: 10px;
        }

        header h1 {
            font-size: 36px;
            margin: 0;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        .checkbox input {
            display: none;
        }

        .button-wrapper input {
            display: none;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .button-wrapper {
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        .button-wrapper:nth-child(2) {
            margin-top: 20px;
        }

        .button {
            width: 100px;
            height: 50px;
            margin: 10px;
            border-radius: 5px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
            color: white;
            cursor: pointer;
        }

        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px
        }

        .on {
            background-color: green;
        }

        .off {
            background-color: red;
        }

        .dark-mode {
            background-color: rgb(255, 255, 255);
            color: white;
            align-items: center;
            justify-content: center;
        }

        .light-mode {
            background-color: rgb(0, 0, 0);
            color: black;
            align-items: center;
            justify-content: center;
        }

        #mode-toggle {
            width: 50px;
            height: 50px;
            margin-left: 20px;
            border-radius: 50%;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
            color: white;
            cursor: pointer;
        }

        #mode-toggle img {
            width: 40px;
            height: 40px;
            align-items: center;
            justify-content: center;
        }

        footer {
            background-color: #f2f2f2;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        footer p {
            margin: 0;
            font-size: 16px;
            color: #333333;
            font-weight: bold;
        }

        @media (max-width: 600px) {
            .row {
                flex-direction: row;
                flex-wrap: wrap;
                height: auto;
            }

            .button {
                margin: 5px;
            }
        }

        .content {
            padding: 5%;
        }

        .card-grid {
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            grid-gap: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        .card {
            background-color: rgba(51, 51, 51, 0);
            align-items: center;
            justify-content: center;
        }

        .card-title {
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            font-weight: bold;
            color: #034078
        }