/* Estilos do corpo da página */
body {
    display: inline-flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.dark-mode body {
    background-color: #ffffff;
    color: #fff;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* Estilos do cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(240, 1, 1, 0.521);
    position: sticky;
    top: 0;
    z-index: 1;
}

.titulo-pagina {
    margin: 0;
}

h1 {
    margin: 0;
}

#mode-switcher {
    display: inline-block;
    align-items: center;
}

#mode-switcher span {
    margin: 0 10px;
}

/* Estilos do main */
main {
    max-width: 800px;
    /* define a largura máxima */
    margin: 0 auto;
    /* define a margem automática para centralizar o elemento */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos do título da página */
.titulo-pagina {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

main table td {
    padding: 10px;
    border: 1px solid black;
}

/* Estilos do interruptor de modo */

.switch {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 60px;
    height: 34px;
}

/* Estilos do interruptor de modo */
.switch input {
    display: none;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    display: inline-block;
    align-items: center;
    cursor: pointer;

    height: 35px;
    width: 70px;
    left: 3px;
    bottom: 2px;
    background-color: #ff0000;
    border-radius: 10px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    display: inline-block;
    align-items: center;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 4px;
    background-color: rgb(241, 12, 12);
    border-radius: 5px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00ff00;
}

input:checked+.slider:before {
    -webkit-transform: translateX(52px);
    -ms-transform: translateX(52px);
    transform: translateX(52px);
}

.dark-mode-switch {
    position: relative;
    display: inline-block;
    align-items: center;
    width: 60px;
    height: 34px;
}

.dark-mode-switch input {
    display: none;
}

.dark-slider {
    background-color: #ffffff;
    }

    .dark-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(0, 0, 0);
        transition: 0.4s;
        border-radius: 50%;
        }
        
        .dark-mode-switch input:checked + .dark-slider {
        background-color: #00ff26;
        }


.dark-mode-switch input:checked+.dark-slider {
    background-color: #00ff26;
}

.dark-mode .titulo-pagina {
    color: #fff;
}

.dark-mode #mode-switcher .dark-mode-text {
    color: #fff;
}

.dark-mode #mode-switcher .dark-mode-label {
    color: #ff06fb;
}

.dark-slider.round {
    border-radius: 0px;
}

.dark-slider.round:before {
    border-radius: 0%;
}

/* Estilos responsivos */

@media (max-width: 768px) {
    header{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    header {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    main {
        grid-template-columns: 1fr;
    }
}