/* Estilos do corpo da página */
body {
    display: inline-flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}

.dark-mode body {
    background-color: #ffffff;
    color: #fff;
}

body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* Estilos do cabeçalho */

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

#mode-switcher {
    display: flex;
    align-items: center;
}

#mode-switcher span {
    margin: 0 10px;
}

/* Estilos do interruptor de modo */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #03d2fc;
}
.switch::before {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #88ef0a;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f70000;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Estilos dos botões */

.label-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

label {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #f44336;
    cursor: pointer;
}

label.on {
    background-color: #4CAF50;
}

/* Estilos responsivos */

@media (max-width: 480px) {
    header {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    header {
        grid-template-columns: 1fr;
    }
}
